[package]
name = "simple-icons"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
simpleicons-rs = "16.5.0"
wasm-minimal-protocol = "0.1.0"

[profile.release]
opt-level = "z"
strip = true
lto = true
panic = "abort"
codegen-units = 1
